In [1]:
import pandas as pd
import numpy as np

In [3]:
nc = pd.read_csv('new_cases_final.csv')
nd = pd.read_csv('new_deaths_final.csv')
tc = pd.read_csv('total_cases_final.csv')
td = pd.read_csv('total_deaths_final.csv')
data_e = pd.read_csv('data_e_e_19_abril.csv')
data_bas = pd.read_csv('data_basic_final.csv')

In [10]:
nc.iloc[:,0].values.tolist() == nd.iloc[:,0].values.tolist() == tc.iloc[:,0].values.tolist() == td.iloc[:,0].values.tolist() == data_e.iloc[:,0].values.tolist() == data_bas.iloc[:,0].values.tolist()

True

In [21]:
nc_cols = nc.columns.values.tolist()[1:]
nc_cols2 = ['NC_' + v for v in nc_cols]
nd_cols = nd.columns.values.tolist()[1:]
nd_cols2 = ['ND_' + v for v in nd_cols]
tc_cols = tc.columns.values.tolist()[1:]
tc_cols2 = ['TC_' + v for v in tc_cols]
td_cols = td.columns.values.tolist()[1:]
td_cols2 = ['TD_' + v for v in td_cols]
data_e_cols = data_e.columns.values.tolist()[1:]
data_bas_cols = data_bas.columns.values.tolist()[1:]

In [33]:
data = pd.DataFrame()
data['Country'] = nc.iloc[:,0].values.tolist()
for k in data_bas_cols:
    data[k] = data_bas[k]
for j in data_e_cols:
    data[j] = data_e[j]
for i in range(len(nc_cols)):
    data[nc_cols2[i]] = nc[nc_cols[i]]
    data[nd_cols2[i]] = nd[nd_cols[i]]
    data[tc_cols2[i]] = tc[tc_cols[i]]
    data[td_cols2[i]] = td[td_cols[i]]

In [34]:
data

,Country,Population,Urban population,Density,Median age,Migrants,Temperature,Feels_Like,Min_Temperature,Max_Temperature,...,TC_17/04/2020,TD_17/04/2020,NC_18/04/2020,ND_18/04/2020,TC_18/04/2020,TD_18/04/2020,NC_19/04/2020,ND_19/04/2020,TC_19/04/2020,TD_19/04/2020
0,World,7.794799e+09,4.378994e+09,52.0,30.9,NaN,NaN,NaN,NaN,NaN,...,2114269,144827,83324,8263,2197593,153090,84121,6421,2281714,159511
1,Afghanistan,3.892835e+07,9.904337e+06,60.0,18.4,-62920.0,9.78,8.20,9.00,11.00,...,794,29,51,1,845,30,63,0,908,30
2,Albania,2.877797e+07,1.827362e+06,105.0,36.4,-14000.0,14.00,13.88,14.00,14.00,...,518,26,21,0,539,26,9,0,548,26
3,Algeria,4.385104e+07,3.195091e+07,18.0,28.5,-10000.0,16.00,12.88,16.00,16.00,...,2268,348,150,16,2418,364,117,3,2535,367
4,Andorra,7.726500e+04,6.785700e+04,164.0,NaN,NaN,6.41,3.90,4.44,8.33,...,682,33,14,2,696,35,8,0,704,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Venezuela,2.843594e+07,NaN,32.0,29.6,-653249.0,20.97,21.87,20.97,20.97,...,204,9,23,0,227,9,0,0,227,9
203,Vietnam,9.733858e+07,3.672725e+07,314.0,32.5,-80000.0,25.00,28.35,25.00,25.00,...,275,0,1,0,276,0,0,0,276,0
204,Yemen,NaN,NaN,NaN,NaN,NaN,16.61,14.52,16.61,16.61,...,1,0,0,0,1,0,0,0,1,0
205,Zambia,1.838396e+07,8.336381e+06,25.0,17.6,-8000.0,15.83,14.43,15.83,15.83,...,48,2,4,0,52,2,5,0,57,2
206,Zimbabwe,1.486292e+07,5.700460e+06,38.0,18.7,-116858.0,13.00,11.28,13.00,13.00,...,24,3,0,0,24,3,1,0,25,3

In [35]:
data.to_csv('COVID_DATASET.csv', sep='\t', index=None)

In [36]:
data.to_csv('COVID_DATASET_COMMAS.csv', index=None)