In [19]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('COVID_DATASET_COMMAS.csv')

In [39]:
cols = data.columns.values.tolist()
pattern = '[_]\d[0-9][0-9][/]\d[0][2][/]\d{2,4}'

In [40]:
expresion = re.compile(pattern)

In [42]:
cols[200]

'TC_15/02/2020'

In [64]:
cols = data.columns.values.tolist()
pattern = '[TC|TD|NC|ND]_[0-9][0-9][/][0][2][/]{2,4}'

In [78]:
data.filter(regex='[0-9][0-9]/[0][2]/[2020]', axis=1)

,NC_01/02/2020,ND_01/02/2020,TC_01/02/2020,TD_01/02/2020,NC_02/02/2020,ND_02/02/2020,TC_02/02/2020,TD_02/02/2020,NC_03/02/2020,ND_03/02/2020,...,TC_27/02/2020,TD_27/02/2020,NC_28/02/2020,ND_28/02/2020,TC_28/02/2020,TD_28/02/2020,NC_29/02/2020,ND_29/02/2020,TC_29/02/2020,TD_29/02/2020
0,2120,46,11946,259,2608,46,14554,305,2818,57,...,82101,2800,1264,57,83365,2857,1838,64,85203,2921
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203,0,0,5,0,2,0,7,0,1,0,...,16,0,0,0,16,0,0,0,16,0
204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0