In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('COVID_DATASET_COMMAS.csv')

In [3]:
cols = data.columns.values.tolist()
pattern = '[_]\d[0-9][0-9][/]\d[0][2][/]\d{2,4}'

In [4]:
expresion = re.compile(pattern)

In [5]:
cols[200]

'TC_15/02/2020'

In [6]:
cols = data.columns.values.tolist()
pattern = '[TC|TD|NC|ND]_[0-9][0-9][/][0][2][/]{2,4}'

In [8]:
data2 = data.filter(regex='[0-9][0-9]/[0][2]/[2020]', axis=1)

In [11]:
data2['Label'] = data['Country']

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
data2.head()

,NC_01/02/2020,ND_01/02/2020,TC_01/02/2020,TD_01/02/2020,NC_02/02/2020,ND_02/02/2020,TC_02/02/2020,TD_02/02/2020,NC_03/02/2020,ND_03/02/2020,...,TD_27/02/2020,NC_28/02/2020,ND_28/02/2020,TC_28/02/2020,TD_28/02/2020,NC_29/02/2020,ND_29/02/2020,TC_29/02/2020,TD_29/02/2020,Label
0,2120,46,11946,259,2608,46,14554,305,2818,57,...,2800,1264,57,83365,2857,1838,64,85203,2921,World
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,Afghanistan
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Albania
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,Algeria
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Andorra

In [14]:
data2.to_csv('month.csv', sep='\t', index=False)